<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/home">ระบบเปิด-ปิดควบคุมประตู</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/home">อุปกรณ์</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about">สมาชิก</a>
        </li>
      </ul>
     <form class="d-flex" role="search">
     <input class="form-control mx-2" type="search" placeholder="ค้นหา" aria-label="Search">
     <button class="btn btn-light" type="submit">Search</button>
     </form>
      <div class="d-flex justify-content-between">
        <a routerLink="/login" >
            <button class="btn btn-success mx-2">เข้าสู่ระบบ</button>
        </a>
        <a routerLink="/register" >
            <button class="btn btn-warning">สมัครสมาชิก</button>
        </a>
      </div>    
    </div>
  </div>
</nav>
