
<html lang="en">
<header>
    <h1 class="center-text text-white" >Door Access Control Systems 
    </h1>
</header>
<div class="container mt-3"></div>
<div class="me-5 text-center ">
    <h2>อุปกรณ์ IoT</h2>
    <label class="center-text">ระบบเปิด-ปิดควบคุมประตู</label>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตัวอย่างการจัดวางรูปและข้อมูล</title>
    <style>
        .container {
            display: flex; /* ทำให้ container เป็น flex container */
        }
        .image {
            flex: 1; /* ให้รูปภาพยืดเต็มพื้นที่ที่เหลือ */
        }   
        .content {
            flex: 2; /* ให้ส่วนของเนื้อหายืดเต็มพื้นที่ที่เหลือ */
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="assets/img2/esp.jpg" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>ESP32</h2>
            <p>ESP32 คือ ชิปไมโครคอนโทรลเลอร์ขนาดเล็กแต่ทรงพลัง ที่มาพร้อมกับความสามารถในการเชื่อมต่อ Wi-Fi และ Bluetooth ในตัว 
                ทำให้เป็นตัวเลือกที่ได้รับความนิยมอย่างมากสำหรับการพัฒนาอุปกรณ์ IoT (Internet of Things) หรืออุปกรณ์ที่สามารถเชื่อมต่ออินเทอร์เน็ตได้หลากหลายประเภท</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="assets/img2/lcd.jpg" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>LCD</h2>
            <p>LCD ย่อมาจาก Liquid Crystal Display หรือ จอภาพผลึกเหลว เป็นเทคโนโลยีที่ใช้ในการแสดงผลภาพบนอุปกรณ์อิเล็กทรอนิกส์ต่างๆ 
                ที่เราพบเห็นในชีวิตประจำวันมากมาย เช่น โทรศัพท์มือถือ คอมพิวเตอร์ โทรทัศน์ และแท็บเล็ต</p>
        </div>
    </div> 

    <div class="container">
           <div class="image">
               <img src="assets/pin/pin2.png" alt="รูปภาพ">
           </div>
           <div class="content">
               <h2>Breadboard</h2>
               <p>อุปกรณ์ที่ใช้สำหรับทดลองวงจรอิเล็กทรอนิกส์ มีลักษณะเป็นแผ่นพลาสติกที่มีรูเล็กๆ เรียงกันเป็นแถวและคอลัมน์ 
                ภายในรูเหล่านี้จะมีตัวนำไฟฟ้าเชื่อมต่อกันในรูปแบบที่กำหนดไว้ ทำให้เราสามารถเสียบขาของอุปกรณ์อิเล็กทรอนิกส์ต่างๆ 
                ลงไปในรูเหล่านี้เพื่อเชื่อมต่อวงจรได้อย่างง่ายดาย</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="assets/img2/jp.jpg" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>สายจั๊มเปอร์</h2>
            <p>สายจั๊มเปอร์ตัวผู้ทั้งสองข้าง นั้นเป็นสายไฟชนิดหนึ่งที่ใช้สำหรับเชื่อมต่อจุดต่างๆ บนวงจรอิเล็กทรอนิกส์ 
                โดยเฉพาะอย่างยิ่งเมื่อใช้งานร่วมกับ โพรโทบอร์ด หรือ แผ่นทดลองวงจร</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/img2/relay.jpg" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Relay</h2>
            <p>รีเลย์ คือ อุปกรณ์อิเล็กทรอนิกส์ที่ใช้กันอย่างแพร่หลายในวงจรควบคุมอัตโนมัติ ทำหน้าที่เปรียบเสมือนสวิตช์ไฟ 
               ที่ใช้แรงดันไฟฟ้าในการเปิดและปิดอุปกรณ์ไฟฟ้าเพื่อควบคุมวงจรต่างๆ</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/img2/ad.jpg" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>อะแดปเตอร์</h2>
            <p>Adapter หรืออุปกรณ์ชาร์จไฟที่ทุกคนคุ้นเคยกันดี ในยุคปัจจุบันมีมากมายหลากหลายยี่ห้อให้เลือกซื้อ ตามปกติแล้วเมื่อซื้ออุปกรณ์อิเล็กทรอนิกส์ต่างๆ หรือคอมพิวเตอร์ก็มักจะมี Adapter แถมมาให้ด้วย แต่เมื่อใช้งานไปสักระยะก็อาจจะมีการชำรุดหรือสูญหายไป จึงต้องซื้อตัวใหม่มาเปลี่ยน  แล้วทีนี้จะมีวิธีการอย่างไรในการเลือกให้เหมาะสม วันนี้จะพาไปทำความรู้จักว่า Adapter คืออะไร ทำหน้าที่อะไร สัญลักษณ์ต่างๆ ที่มีอยู่บนอุปกรณ์หมายความว่าอย่างไร/p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/img2/mg.jpg" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Magnetic lock</h2>
            <p>กลอนแม่เหล็กไฟฟ้า (Magnetic Lock) ขนาด 600 ปอนด์ เป็นกลอนไฟฟ้าที่ติดได้กับประตูในทุกรูปแบบ ที่ต้องการความแข็งแรงทนทานเป็นพิเศษ เช่น บานประตูวงกบ กระจกขอบอลูมิเนียม ประตูเหล็ก ประตูบานไม้ ประตูบานเลื่อน โดยติดตั้งได้ทั้งภายในและภายนอกอาคาร มีความแข็งแรงทนทาน ติดตั้งง่าย และให้ความสวยงาม มีให้เลือกหลายขนาด ได้แก่ ขนาด 300 ปอนด์ ,600 ปอนด์ ตามขนาดและประตูแต่ละชนิด</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/img2/12.webp" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Numpad</h2>
            <p> Numpad คือ ปุ่มตัวเลขที่อยู่บนแป้นพิมพ์ด้านขวามือของผู้ใช้งาน ส่วนแป้นตัวเลข Numpad คือ แป้นพิมพ์ตัวเลขหรือคียบอร์ดตัวเลขโดยเฉพาะ ไม่มีตัวอักษรอื่นๆ เลย ถ้าคุณมีคอมพิวเตอร์โน๊ตบุ๊คขนาดหน้าจอกะทัดรัด คุณจะไม่มีปุ่มตัวเลขหรือ ์์Numpad มาให้ทางด้านขวามือ ซึ่งคุณจะต้องใช้แป้นตัวเลขจากแถวบนสุดของคีย์บอร์ดโน๊ตบุ๊ค</p>
        </div>
    </div>


   